img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	border-radius: 50%;
	box-shadow: 0px 2px 5px black;
	margin-top: 30px;
}

* 
{
  box-sizing: border-box;
}

button
{
  flex: 1 100px;
	box-shadow: 0px 2px 5px grey;
	border:none;
	background-color: #F4F4F4;
	border-radius: 4px;
	padding: 6px 20px;
}

form
{
  overflow: scroll;
	box-sizing: border-box;
	margin: 8px;
	background-color: white;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
  box-shadow: 1px 2px 1px #cfcfcf;
}

form > div 
{
  clear: both;
  overflow: hidden;
  padding: 1px;
  margin: 0 0 10px 0;
}

form > div > fieldset > div > div 
{
  margin: 0 0 5px 0;
}

form > div > label,
legend 
{
  width: 25%;
  float: left;
  padding-right: 10px;
}

form > div > div,
form > div > fieldset > div 
{
  width: 75%;
  float: right;
}

form > div > fieldset label 
{
    font-size: 90%;
}

fieldset 
{
  border: 0;
  padding: 0;
}

input[type=text], input[type=date], textarea 
{
  width: 100%;
  border : 1px solid black;
  border-radius: 2px;
}

input[type=text], input[type=date]
{
  width: 50%;
}

input[type=text]:focus, input[type=date]:focus, textarea:focus 
{
  outline: 0;
  border-color: #4697e4;
}
  
@media (max-width: 600px) 
{
  form > div 
  {
    margin: 0 0 15px 0; 
  }

  form > div > label,
  legend 
  {
    width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }

  form > div > div,
  form > div > fieldset > div 
  {
    width: 100%;
    float: none;
  }

  input[type=text], input[type=date], textarea,
  select {
    width: 100%; 
  }
}

@media (min-width: 1200px) 
{
  form > div > label,
    legend 
  {
    text-align: right;
  }
}

.card 
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
  
.title
{
  font-weight: bold;
  font-size: 50px;
}

.other
{
  font-weight: bold;
}

.nouveau 
{
  animation: blinker 1s linear infinite;
  color: red;
  font-size: 30px;
}

@keyframes blinker 
{
  50% 
  {
    opacity: 0;
  }
}