.column 
{
  margin: auto;
  width: 60%;
}

.row {margin: 0 -15px;}

.row:after 
{
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 700px) 
{
  .column 
  {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.cardF 
{
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #d82525;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

}

.cardH 
{
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #ffffff;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.cardI 
{
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #ff63c6;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.cardM 
{
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #939090;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.cardRED 
{
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #1b1b23;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  color: white;
}
.cardT 
{
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #ffffff;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.cardMC 
{
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #e04d0e;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.cardRNO 
{
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #fdac29;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.cardW 
{
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #090663;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  color : white;
}

.cardALF 
{
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #ffffff;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
