/*body*/

html
{
  height: 100%;
}
body
{
  position: relative;
  background-image: url("../img/background/haas.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
 
#choix
{
  margin-top: 468px;
}

li 
{
  float: left;
}

li a 
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover 
{
  background-color:red;
}

/*ecuries img*/
.ecuries_ferrari, .ecuries_haas, .ecuries_Mclaren, .ecuries_mercedes, .ecuries_racing, .ecuries_redbull, .ecuries_renault, .ecuries_torro, .ecuries_williams, .ecuries_alpharomeo
{
  border: 5px solid black;
}

.ecuries_ferrari:hover
{
  border: 5px solid red;
  border-right-color: yellow;
  border-left-color: green;
  transition: 1s;
  transform: scale(1.05);
}


.ecuries_haas:hover
{
  border: 5px solid #F0F671;
  border-right-color: black;
  border-left-color: black;
  transition: 1s;
  transform: scale(1.05);
}

.ecuries_Mclaren:hover
{
  border: 5px solid orange;
  border-right-color: black;
  border-left-color: black;
  transition: 1s;
  transform: scale(1.05);
}

.ecuries_mercedes:hover
{
  border: 5px solid cyan;
  border-right-color: black;
  border-left-color: black;
  transition: 1s;
  transform: scale(1.05);
}

.ecuries_racing:hover
{
  border: 5px solid pink;
  border-right-color: black;
  border-left-color: black;
  transition: 1s;
  transform: scale(1.05);
}

.ecuries_redbull:hover
{
  border: 5px solid blue;
  border-right-color: red;
  border-left-color: red;
  transition: 1s;
  transform: scale(1.05);
}

.ecuries_renault:hover
{
  border: 5px solid yellow;
  border-right-color: black;
  border-left-color: black;
  transition: 1s;
  transform: scale(1.05);
}

.ecuries_torro:hover
{
  border: 5px solid blue;
  border-right-color: red;
  border-left-color: red;
  transition: 1s;
  transform: scale(1.05);
}

.ecuries_williams:hover
{
  border: 5px solid blue;
  border-right-color: red;
  border-left-color: red;
  transition: 1s;
  transform: scale(1.05);
}

.ecuries_alpharomeo:hover
{
  border: 5px solid #6B1313;
  border-right-color: red;
  border-left-color: red;
  transition: 1s;
  transform: scale(1.05);
}

#ecuries_img
{
  list-style-type: none;
}

.card 
{
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
}

img
{
  width: 45%;
}

#special_img
{
  width: 30%;
}

.first, .second, .third, .fourth
{
  display:flex;
  justify-content: center;
}

