/*body*/
body
{
    background-color:#585858;
}

/*Liste dans le nav*/
nav
{
    text-align: center;
}

#nav {
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:red;
  }

  /*ecuries img*/
  .ecuries_ferrari, .ecuries_haas, .ecuries_Mclaren, .ecuries_mercedes, .ecuries_racing, .ecuries_redbull, .ecuries_renault, .ecuries_torro, .ecuries_williams, .ecuries_alpharomeo
  {
    width: 230px;
    height: 110px;
    border: 10px solid black;
  }

  .ecuries_ferrari:hover
  {
    border: 10px solid red;
    border-right-color: yellow;
    border-left-color: green;
    transition: 2s;
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
  }


  .ecuries_haas:hover
  {
    border: 10px solid #F0F671;
    border-right-color: black;
    border-left-color: black;
    transition: 2s;
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
  }

  .ecuries_Mclaren:hover
  {
    border: 10px solid orange;
    border-right-color: black;
    border-left-color: black;
    transition: 2s;
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
  }

  .ecuries_mercedes:hover
  {
    border: 10px solid cyan;
    border-right-color: black;
    border-left-color: black;
    transition: 2s;
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
  }

  .ecuries_racing:hover
  {
    border: 10px solid pink;
    border-right-color: black;
    border-left-color: black;
    transition: 2s;
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
  }

  .ecuries_redbull:hover
  {
    border: 10px solid blue;
    border-right-color: red;
    border-left-color: red;
    transition: 2s;
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
  }

  .ecuries_renault:hover
  {
    border: 10px solid yellow;
    border-right-color: black;
    border-left-color: black;
    transition: 2s;
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
  }

  .ecuries_torro:hover
  {
    border: 10px solid blue;
    border-right-color: red;
    border-left-color: red;
    transition: 2s;
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
  }

  .ecuries_williams:hover
  {
    border: 10px solid blue;
    border-right-color: red;
    border-left-color: red;
    transition: 2s;
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
  }
  
  .ecuries_alpharomeo:hover
  {
    border: 10px solid #6B1313;
    border-right-color: red;
    border-left-color: red;
    transition: 2s;
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
  }

  #ecuries_img
  {
    list-style-type: none;
  }

  /*img_moov*/

  #img_moov
  {
    position: relative;
    width: 510px;
    height: 110px;
    animation: mov 1s infinite;
  }

  @-webkit-keyframes mov {
    from {left: 0px;}
    to {left: 1000px;}
  }
  
  @keyframes mov {
    from {left: 0px;}
    to {left: 1000px;}
  }