<!DOCTYPE html>
<html>
    <head>
        <title>Formula ONE</title>
        <link rel="stylesheet" type="text/css" href="../../css/point_point.css">
        <link rel="stylesheet" type="text/css" href="../../css/navbar.css">
        <script type="text/javascript" src="../../js/index.js"></script>
        <script type="text/javascript" src="../../js/navigation.js"></script>    
    </head>
    <body>
        <div class="topnav" id="myTopnav">
            <a href="../../view/index.html">Accueil</a>
            <a href="../../view/ecuries.html">Ecuries</a>
            <a href="../../view/circuits.html">Circuits</a>
            <a href="../../view/voitures.html">Voitures</a>
            <a href="../../view/coureurs.html">Coureurs</a>

            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>

        <br>

        <div class="card">
            <h2>Alpha Romeo</h2>
            <img src="../../img/Ecuries/alpha_romeo_ecuries.png" alt="" style="width:25%;">
            <p>Alfa Romeo participa aux compétitions de Formule 1 en tant que constructeur automobile et fabricant de blocs-cylindres de 1950 à 1988. En 2019, Alfa Romeo remplace Sauber en devenant Alfa Romeo Racing. </p>
            <br>
            <img src="../../img/Cars/alpha_romeo_car.png" alt="" style="width:80%;">

            <div class="racing">
                <div class="card" id="first">
                    <img src="../../img/Pilotes/Alfa Romeo/Raikonnen.jpg" alt="Charles-Leclerc" style="width:80%">
                    <h2>Kimi Raikkonen</h2>
                    <p>24 ans</p>
                </div>
        
                <div class="card" id="third">
                    <img src="../../img/Pilotes/Alfa Romeo/Giovinazzi.jpg" alt="Charles-Leclerc" style="width:80%">
                    <h2>Antonio Giovinazzi</h2>
                    <p>26 ans</p>
                </div>
            </div>
        </div>
    </body>
</html>