<!DOCTYPE html>
<html>
    <head>
        <title>Formula ONE</title>
        <link rel="stylesheet" type="text/css" href="../../css/point_point.css">
        <link rel="stylesheet" type="text/css" href="../../css/navbar.css">
        <script type="text/javascript" src="../../js/index.js"></script>
        <script type="text/javascript" src="../../js/navigation.js"></script>    
    </head>
    <body>
        <div class="topnav" id="myTopnav">
            <a href="../../view/index.html">Accueil</a>
            <a href="../../view/ecuries.html">Ecuries</a>
            <a href="../../view/circuits.html">Circuits</a>
            <a href="../../view/voitures.html">Voitures</a>
            <a href="../../view/coureurs.html">Coureurs</a>

            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>

        <br>

        <div class="card">
            <h2>Hass F1 Team</h2>
            <img src="../../img/Ecuries/haas_player.jpg" alt="" style="width:25%;">
            <p>Haas F1 Team (engagée en Formule 1 sous la dénomination commerciale Rich Energy Haas F1 Team depuis 2019) est une écurie automobile américaine, fondée par Gene Haas, propriétaire de Stewart Haas Racing, présent en NASCAR. L'écurie fait ses débuts en Formule 1 en 2016. </p>
            <br>
            <img src="../../img/Cars/haas_car.png" alt="" style="width:80%;">

            <div class="racing">
                <div class="card" id="first">
                    <img src="../../img/Pilotes/Haas/Grosjean.jpg" alt="" style="width:80%">
                    <h2>Rom. Grojean</h2>
                    <p>31 ans</p>
                </div>
        
                <div class="card" id="third">
                    <img src="../../img/Pilotes/Haas/Magnussen.jpg" alt="Charles-Leclerc" style="width:80%">
                    <h2>Kevin Magnu.</h2>
                    <p>24 ans</p>
                </div>
            </div>
        </div>

    </body>
</html>

<!--
<input onclick="mafonction(event)">

<script>
    function mafonction(evt)
    {
        evt.preventDefault();
    }
</script>

-->