<!DOCTYPE html>
<html>
    <head>
        <title>Formula ONE</title>
        <link rel="stylesheet" type="text/css" href="../../css/point_point.css">
        <link rel="stylesheet" type="text/css" href="../../css/navbar.css">
        <script type="text/javascript" src="../../js/index.js"></script>
        <script type="text/javascript" src="../../js/navigation.js"></script>    
    </head>
    <body>
        <div class="topnav" id="myTopnav">
            <a href="../../view/index.html">Accueil</a>
            <a href="../../view/ecuries.html">Ecuries</a>
            <a href="../../view/circuits.html">Circuits</a>
            <a href="../../view/voitures.html">Voitures</a>
            <a href="../../view/coureurs.html">Coureurs</a>
            <a href="../../view/creation.html">Création</a>
            <a href="../../view/informations.html">Informations</a>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>

        <br>

        <div class="card">
            <h2>McLaren Racing</h2>
            <img src="../../img/Ecuries/mclaren_player.jpg" alt="" style="width:25%;">
            <p>La McLaren F1 est une automobile conçue et produite par McLaren Cars, une filiale britannique McLaren Technology Group qui, entre autres, possède l'écurie de Formule 1 McLaren Racing. La voiture accueille un moteur BMW d'architecture V12 à 60° de 6,1 litres de cylindrée développant une puissance de 627 ch. La McLaren F1 a été conçue pour être « the finest drivers’ car ever built, or ever likely to be built »2 (en français : « la meilleure voiture de série jamais construite, ou susceptible d'être construite ») par une équipe d'une trentaine d'ingénieurs dirigée par Gordon Murray. </p>
            <br>
            <img src="../../img/Cars/mclaren_car.png" alt="" style="width:80%;">

            <div class="racing">
                <div class="card" id="first">
                    <img src="../../img/Pilotes/McLaren/Sainz.jpg" alt="" style="width:80%">
                    <h2>Carlors Sainz</h2>
                    <p>24 ans</p>
                </div>
        
                <div class="card" id="third">
                    <img src="../../img/Pilotes/McLaren/Norris.jpg" alt="" style="width:80%">
                    <h2>Lando Norris</h2>
                    <p>20 ans</p>
                </div>
            </div>
        </div>
        <footer id="footer">
            <div>
                <h5>Par LOGEAIS - ARAUJO - BEN JALEL</h5>
            </div>
            <div id="social">
                <ul class="social">
                    <li><a href="https://www.facebook.com/Formula1/">Facebook</a></li>
                    <li><a href="https://twitter.com/F1">Twitter</a></li>
                    <li><a href="https://www.youtube.com/user/Formula1">YouTube</a></li>
                    <li><a href="https://www.linkedin.com/company/formula-one-management-ltd/">LinkedIn</a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>