<!DOCTYPE html>
<html>
    <head>
        <title>Formula ONE</title>
        <link rel="stylesheet" type="text/css" href="../../css/point_point.css">
        <link rel="stylesheet" type="text/css" href="../../css/navbar.css">
        <script type="text/javascript" src="../../js/index.js"></script>
        <script type="text/javascript" src="../../js/navigation.js"></script>    
    </head>
    <body>
        <div class="topnav" id="myTopnav">
            <a href="../../view/index.html">Accueil</a>
            <a href="../../view/ecuries.html">Ecuries</a>
            <a href="../../view/circuits.html">Circuits</a>
            <a href="../../view/voitures.html">Voitures</a>
            <a href="../../view/coureurs.html">Coureurs</a>
            <a href="../view/creation.html">Création</a>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>

        <br>

        <div class="card">
            <h2>Redbull F1 Team</h2>
            <img src="../../img/Ecuries/redbull_player.jpg" alt="" style="width:25%;">
            <p>Red Bull Racing (de son nom complet Red Bull Racing Limited) est une société britannique qui engage l'écurie Red Bull Racing (engagée en compétition sous la dénomination commerciale Aston Martin Red Bull Racing depuis 2018) qui dispute le championnat du monde de Formule 1 sous licence autrichienne depuis 2007. L'écurie est fondée en 2005 avec le rachat par Red Bull de l'écurie Jaguar Racing. De 2010 à 2013, grâce à Mark Webber et Sebastian Vettel, Red Bull Racing remporte avec un moteur V8 Renault quatre titres de champion du monde des constructeurs tandis que Sebastian Vettel est couronné quatre fois de suite chez les pilotes. </p>
            <br>
            <img src="../../img/Cars/red_bull_car.png" alt="" style="width:80%;">

            <div class="racing">
                <div class="card" id="first">
                    <img src="../../img/Pilotes/RedBull/Verstappen.jpg" alt="Charles-Leclerc" style="width:80%">
                    <h2>Max Verstappen</h2>
                    <p>21 ans</p>
                </div>
        
                <div class="card" id="third">
                    <img src="../../img/Pilotes/RedBull/Gasly.jpg" alt="Charles-Leclerc" style="width:80%">
                    <h2>Pierre Gasly</h2>
                    <p>23 ans</p>
                </div>
            </div>
        </div>
    </body>
</html>