<!DOCTYPE html>
<html>
    <head>
        <title>Formula ONE</title>
        <link rel="stylesheet" type="text/css" href="../../css/point_point.css">
        <link rel="stylesheet" type="text/css" href="../../css/navbar.css">
        <script type="text/javascript" src="../../js/index.js"></script>
        <script type="text/javascript" src="../../js/navigation.js"></script>    
    </head>
    <body>
        <div class="topnav" id="myTopnav">
            <a href="../../view/index.html">Accueil</a>
            <a href="../../view/ecuries.html">Ecuries</a>
            <a href="../../view/circuits.html">Circuits</a>
            <a href="../../view/voitures.html">Voitures</a>
            <a href="../../view/coureurs.html">Coureurs</a>

            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>

        <br>

        <div class="card">
            <h2>Racing F1 Team</h2>
            <img src="../../img/Ecuries/Racing_point_ecuries.jpg" alt="" style="width:25%;">
            <p>Force India (engagée sous la dénomination Sahara Force India Formula One Team depuis 2012) est une écurie de Formule 1 indienne qui a fait ses débuts en compétition à l'occasion de la saison 2008. Basée à Silverstone en Angleterre, Force India est créée à la suite du rachat et du changement de dénomination de l'écurie néerlandaise Spyker F1 Team.


                En 2018, l'écurie, en faillite, est liquidée et l'ensemble des actifs est racheté par un consortium mené par Lawrence Stroll. Une nouvelle écurie, Racing Point Force India F1 Team, est créée sur ses bases et prend sa suite en championnat du monde. </p>
            <br>
            <img src="../../img/Cars/racing_point_car.png" alt="" style="width:80%;">

            <div class="racing">
                <div class="card" id="first">
                    <img src="../../img/Pilotes/RacingPoint/Perez.jpg" alt="Charles-Leclerc" style="width:80%">
                    <h2>Sergio Perez</h2>
                    <p>29 ans</p>
                </div>
        
                <div class="card" id="third">
                    <img src="../../img/Pilotes/RacingPoint/Stroll.jpg" alt="Charles-Leclerc" style="width:80%">
                    <h2>Lance Stroll</h2>
                    <p>21 ans</p>
                </div>
            </div>
        </div>
    </body>
</html>