<!DOCTYPE html>
<html>
    <head>
        <title>Formula ONE</title>
        <link rel="stylesheet" type="text/css" href="../../css/point_point.css">
        <link rel="stylesheet" type="text/css" href="../../css/navbar.css">
        <script type="text/javascript" src="../../js/index.js"></script>
        <script type="text/javascript" src="../../js/navigation.js"></script>    
    </head>
    <body>
        <div class="topnav" id="myTopnav">
            <a href="../../view/index.html">Accueil</a>
            <a href="../../view/ecuries.html">Ecuries</a>
            <a href="../../view/circuits.html">Circuits</a>
            <a href="../../view/voitures.html">Voitures</a>
            <a href="../../view/coureurs.html">Coureurs</a>
            <a href="../view/creation.html">Création</a>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>

        <br>

        <div class="card">
            <h2>Toro Rosso F1 Team</h2>
            <img src="../../img/Ecuries/Toro_rosso_ecuries.jpg" alt="" style="width:25%;">
            <p>La Scuderia Toro Rosso (engagée en 2018 sous la dénomination commerciale Red Bull Toro Rosso Honda) est une écurie italienne de Formule 1 fondée fin 2005, à la suite du rachat de l'écurie de F1 Minardi par le groupe autrichien Red Bull. Elle fait ses débuts en compétition à l'occasion du GP de Bahreïn lors du championnat du monde de Formule 1 2006. L'écurie est la junior team de Red Bull Racing qui forme des jeunes pilotes issus des formules de promotion Red Bull. </p>
            <br>
            <img src="../../img/Cars/torro_roso_car.png" alt="" style="width:80%;">

            <div class="racing">
                <div class="card" id="first">
                    <img src="../../img/Pilotes/Toro Rosso/Albon.jpg" alt="Charles-Leclerc" style="width:80%">
                    <h2>Alexander Albon</h2>
                    <p>23 ans</p>
                </div>
        
                <div class="card" id="third">
                    <img src="../../img/Pilotes/Toro Rosso/Kvyat.jpg" alt="Charles-Leclerc" style="width:80%">
                    <h2>Daniil Kvyat</h2>
                    <p>25 ans</p>
                </div>
            </div>
        </div>
    </body>
</html>