<!DOCTYPE html>
<html>
    <head>
        <title>Formula ONE</title>
        <link rel="stylesheet" type="text/css" href="../css/circuit.css">
        <script type="text/javascript" src="../js/circuit.js"></script>
        <link rel="stylesheet" type="text/css" href="../css/navbar.css">
        <script type="text/javascript" src="../js/navigation.js"></script>
    </head>
    <body>

            <div class="topnav" id="myTopnav">
                <a href="../view/index.html">Accueil</a>
                <a href="../view/ecuries.html">Ecuries</a>
                <a href="../view/circuits.html">Circuits</a>
                <a href="../view/voitures.html">Voitures</a>
                <a href="../view/coureurs.html">Coureurs</a>
                <!--
                <div class="dropdown">
                    <button class="dropbtn">Dropdown 
                    <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                    </div>
                </div>
                -->
                <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
            </div>
        <!-- Choix ecuries -->
        <div id="choix">
            <ul id="ecuries_img">
                <li><img onmouseover="belgique_circ()" onmouseout="defaut()" id="belgique" class="ecuries_haas" src="../img/pays/belgique.png"/></li>
                <li><img onmouseover="monza_circ()" onmouseout="defaut()" id="monza" class="ecuries_Mclaren" src="../img/pays/italie.png"/></li>
                <li><img onmouseover="monaco_circ()" onmouseout="defaut()" id="monaco" class="ecuries_mercedes" src="../img/pays/monaco.png"></li>
                <li><img onmouseover="singapour_circ()" onmouseout="defaut()" id="singapour" class="ecuries_racing" src="../img/pays/singapour.svg"/></li>
                <li><img onmouseover="abudhabi_circ()" onmouseout="defaut()" id="abudhabi" class="ecuries_redbull" src="../img/pays/abudhabi.jpg"/></li>
            </ul>
        </div>
    </body>
</html>