<!DOCTYPE html>
<html>
    <head>
        <title>Formula ONE</title>
        <link rel="stylesheet" type="text/css" href="../css/coureurs.css">
        <link rel="stylesheet" type="text/css" href="../css/navbar.css">
        <script type="text/javascript" src="../js/navigation.js"></script>
    </head>
    <body>
        <div class="topnav" id="myTopnav">
            <a href="../view/index.html">Accueil</a>
            <a href="../view/ecuries.html">Ecuries</a>
            <a href="../view/circuits.html">Circuits</a>
            <a href="../view/voitures.html">Voitures</a>
            <a href="../view/coureurs.html">Coureurs</a>

            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
    <br>
    <br>
    <div class="ferrari">
        <div class="card" id="first">
            <img src="../img/Pilotes/Ferrari/Leclerc.jpg" alt="Charles-Leclerc" style="width:100%">
            <h2>Charles Leclerc</h2>
            <p class="title">Courreur chez Ferrari</p>
            <p>21 ans</p>
        </div>

        <div class="card" id="second">
            <img src="../img/Ecuries/ferrari_player.jpg" alt="Charles-Leclerc" style="width:100%">
            <h2>Ferrari Scuderia</h2>
            <p class="title">Present depuis 1929</p>
            <p>16 titres</p>
        </div>

        <div class="card" id="third">
            <img src="../img/Pilotes/Ferrari/Vettel.jpg" alt="Charles-Leclerc" style="width:100%">
            <h2>Sebas. Vettel</h2>
            <p class="title">Courreur chez Ferrari</p>
            <p>31 ans</p>
        </div>
    </div>

    <br>
    <br>

    <div class="haas">
        <div class="card" id="first">
            <img src="../img/Pilotes/Haas/Grosjean.jpg" alt="Charles-Leclerc" style="width:100%">
            <h2>Romain Grojean</h2>
            <p class="title">Courreur chez Haas</p>
            <p>33 ans</p>
        </div>

        <div class="card" id="second">
            <img src="../img/Ecuries/haas_player.jpg" alt="Charles-Leclerc" style="width:100%">
            <h2>Haas F1 Team</h2>
            <p class="title">Present depuis 2016</p>
            <p>0 titres</p>
        </div>

        <div class="card" id="third">
            <img src="../img/Pilotes/Haas/Magnussen.jpg" alt="Charles-Leclerc" style="width:100%">
            <h2>Kevin Magnu.</h2>
            <p class="title">Courreur chez Haas</p>
            <p>26 ans</p>
        </div>
    </div>

    <br>
    <br>

    <div class="racing">
        <div class="card" id="first">
            <img src="../img/Pilotes/RacingPoint/Perez.jpg" alt="Charles-Leclerc" style="width:100%">
            <h2>Sergio Perez</h2>
            <p class="title">Courreur chez Racing</p>
            <p>29 ans</p>
        </div>

        <div class="card" id="second">
            <img src="../img/Ecuries/Racing_player.jpg" alt="Charles-Leclerc" style="width:100%">
            <h2>Racing F1 Team</h2>
            <p class="title">Present depuis 2018</p>
            <p>0 titres</p>
        </div>

        <div class="card" id="third">
            <img src="../img/Pilotes/RacingPoint/Stroll.jpg" alt="Charles-Leclerc" style="width:100%">
            <h2>Lance Stroll</h2>
            <p class="title">Courreur chez Racing</p>
            <p>21 ans</p>
        </div>
    </div>

    <br>
    <br>

    <div class="mercedes">
        <div class="card" id="first">
            <img src="../img/Pilotes/Mercedes/Hamillton.jpg" alt="Charles-Leclerc" style="width:100%">
            <h2>Lewis Hamilton</h2>
            <p class="title">Courreur chez Mercedes</p>
            <p>34 ans</p>
        </div>

        <div class="card" id="second">
            <img src="../img/Ecuries/mercedes_player.jpg" alt="Charles-Leclerc" style="width:100%">
            <h2>Mercedes F1 Team</h2>
            <p class="title">Present depuis 1954</p>
            <p>7 titres</p>
        </div>

        <div class="card" id="third">
            <img src="../img/Pilotes/Mercedes/Bottas.jpg" alt="Charles-Leclerc" style="width:100%">
            <h2>Valtteri Bottas</h2>
            <p class="title">Courreur chez Mercedes</p>
            <p>29 ans</p>
        </div>
    </div>

    <br>
    <br>

    <div class="redbull">
        <div class="card" id="first">
            <img src="../img/Pilotes/RedBull/Verstappen.jpg" alt="Charles-Leclerc" style="width:100%">
            <h2>Max Verstappen</h2>
            <p class="title">Courreur chez Redbull</p>
            <p>21 ans</p>
        </div>

        <div class="card" id="second">
            <img src="../img/Ecuries/redbull_player.jpg" alt="Charles-Leclerc" style="width:100%">
            <h2>Redbull F1 Team</h2>
            <p class="title">Present depuis 2005</p>
            <p>4 titres</p>
        </div>

        <div class="card" id="third">
            <img src="../img/Pilotes/RedBull/Gasly.jpg" alt="Charles-Leclerc" style="width:100%">
            <h2>Pierre Gasly</h2>
            <p class="title">Courreur chez Redbull</p>
            <p>23 ans</p>
        </div>
    </div>

    <br>
    <br>

    <div class="toro">
        <div class="card" id="first">
            <img src="../img/Pilotes/Toro Rosso/Albon.jpg" alt="Charles-Leclerc" style="width:100%">
            <h2>Alexander Albon</h2>
            <p class="title">Courreur chez Toro Rosso</p>
            <p>23 ans</p>
        </div>

        <div class="card" id="second">
            <img src="../img/Ecuries/toro_rosso_player.jpg" alt="Charles-Leclerc" style="width:100%">
            <h2>Torro Rosso F1 Team</h2>
            <p class="title">Present depuis 2006</p>
            <p>0 titres</p>
        </div>

        <div class="card" id="third">
            <img src="../img/Pilotes/Toro Rosso/Kvyat.jpg" alt="Charles-Leclerc" style="width:100%">
            <h2>Daniil Kvyat</h2>
            <p class="title">Courreur chez Toro Rosso</p>
            <p>25 ans</p>
        </div>
    </div>

    <br>
    <br>

    <div class="mclaren">
        <div class="card" id="first">
            <img src="../img/Pilotes/McLaren/Sainz.jpg" alt="Charles-Leclerc" style="width:100%">
            <h2>Carlos Sainz</h2>
            <p class="title">Courreur chez Mclaren</p>
            <p>24 ans</p>
        </div>

        <div class="card" id="second">
            <img src="../img/Ecuries/mclaren_player.jpg" alt="Charles-Leclerc" style="width:100%">
            <h2>Mclaren Racing</h2>
            <p class="title">Present depuis 1966</p>
            <p>12 titres</p>
        </div>

        <div class="card" id="third">
            <img src="../img/Pilotes/McLaren/Norris.jpg" alt="Charles-Leclerc" style="width:100%">
            <h2>Lando Norris</h2>
            <p class="title">Courreur chez Mclaren</p>
            <p>20 ans</p>
        </div>
    </div>

    <br>
    <br>

    <div class="renault">
        <div class="card" id="first">
            <img src="../img/Pilotes/Renault/Ricciardo.jpg" alt="Charles-Leclerc" style="width:100%">
            <h2>Daniel Ricciardo</h2>
            <p class="title">Courreur chez Renault</p>
            <p>24 ans</p>
        </div>

        <div class="card" id="second">
            <img src="../img/Ecuries/redbull_player.jpg" alt="Charles-Leclerc" style="width:100%">
            <h2>Renault F1 Team</h2>
            <p class="title">Present depuis 1977</p>
            <p>2 titres</p>
        </div>

        <div class="card" id="third">
            <img src="../img/Pilotes/Renault/Hulkenberg.jpg" alt="Charles-Leclerc" style="width:100%">
            <h2>Nico Hulkenberg</h2>
            <p class="title">Courreur chez Mclaren</p>
            <p>20 ans</p>
        </div>
    </div>

    <br>
    <br>

    <div class="williams">
        <div class="card" id="first">
            <img src="../img/Pilotes/Williams/Kubica.jpg" alt="Charles-Leclerc" style="width:100%">
            <h2>Robert Kubica</h2>
            <p class="title">Courreur chez Williams</p>
            <p>34 ans</p>
        </div>

        <div class="card" id="second">
            <img src="../img/Ecuries/williams_player-1.jpg" alt="Charles-Leclerc" style="width:100%">
            <h2>Williams F1 Team</h2>
            <p class="title">Present depuis 1977</p>
            <p>7 titres</p>
        </div>

        <div class="card" id="third">
            <img src="../img/Pilotes/Williams/Russel.jpg" alt="Charles-Leclerc" style="width:100%">
            <h2>George Russel</h2>
            <p class="title">Courreur chez Williams</p>
            <p>21 ans</p>
        </div>
    </div>

    <br>
    <br>

    <div class="alpha">
        <div class="card" id="first">
            <img src="../img/Pilotes/Alfa Romeo/Raikonnen.jpg" alt="Charles-Leclerc" style="width:100%">
            <h2>Kimi Raikkonen</h2>
            <p class="title">Courreur chez AlphaR</p>
            <p>24 ans</p>
        </div>

        <div class="card" id="second">
            <img src="../img/Ecuries/alpha_player.png" alt="Charles-Leclerc" style="width:100%">
            <h2>Alpha Romeo</h2>
            <p class="title">Present depuis 1950</p>
            <p>2 titres</p>
        </div>

        <div class="card" id="third">
            <img src="../img/Pilotes/Alfa Romeo/Giovinazzi.jpg" alt="Charles-Leclerc" style="width:100%">
            <h2>Antonio Giovinazzi</h2>
            <p class="title">Courreur chez AlphaR</p>
            <p>26 ans</p>
        </div>
    </div>

    

    </body>
</html>