<!DOCTYPE html>
<html>
    <head>
        <title>Formula ONE</title>
        <link rel="stylesheet" type="text/css" href="../css/index.css">
        <link rel="stylesheet" type="text/css" href="../css/navbar.css">
        <script type="text/javascript" src="../js/index.js"></script>
        <script type="text/javascript" src="../js/navigation.js"></script>    
    </head>
    <body>
        <div class="topnav" id="myTopnav">
            <a href="../view/index.html">Accueil</a>
            <a href="../view/ecuries.html">Ecuries</a>
            <a href="../view/circuits.html">Circuits</a>
            <a href="../view/voitures.html">Voitures</a>
            <a href="../view/coureurs.html">Coureurs</a>
            <a href="../view/creation.html">Création</a>
            <a href="../view/informations.html">Informations</a>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>

        <br>
        <br>

        <div class="first">
            <div class="card" id="card_logo">
                <a href="../view/plus/ferrari.html"><img onmouseover="bacground_ferrari()" onmouseout="defaut()" class="ecuries_ferrari" src="../img/Ecuries/Ferrari_ecuries.jpg"/></a>
            </div>
    
            <div class="card" id="card_logo">
                <a href="../view/plus/haas.html"><img onmouseover="bacground_haas()" onmouseout="defaut()" class="ecuries_haas" src="../img/Ecuries/Haas_ecuries.png"/></a>
            </div>
    
            <div class="card" id="card_logo">
                <a href="../view/plus/mclaren.html"><img onmouseover="bacground_maclaren()" onmouseout="defaut()" class="ecuries_Mclaren" src="../img/Ecuries/McLaren_ecuries.jpg"/></a>
            </div>
        </div>

        <div class="second">
            <div class="card" id="card_logo">
                <a href="../view/plus/mercedes.html"><img onmouseover="bacground_mercedes()" onmouseout="defaut()" class="ecuries_mercedes" src="../img/Ecuries/Mercedes_ecuries.jpg"/></a>
            </div>

            <div class="card" id="card_logo">
                <a href="../view/plus/sport.html"><img onmouseover="bacground_force_india()" onmouseout="defaut()" class="ecuries_racing" src="../img/Ecuries/Racing_point_ecuries.jpg"/></a>
            </div>

            <div class="card" id="card_logo">
                <a href="../view/plus/redbull.html"><img onmouseover="bacground_redbull()" onmouseout="defaut()" class="ecuries_redbull" src="../img/Ecuries/Red_bull_ecuries.jpg"/></a>
            </div>
        </div>

        <div class="third">
            <div class="card" id="card_logo">
                <a href="../view/plus/renault.html"><img onmouseover="bacground_renault()" onmouseout="defaut()" class="ecuries_renault" src="../img/Ecuries/Renault_ecuries.jpg"/></a>
            </div>

            <div class="card" id="card_logo">
                <a href="../view/plus/toro.html"><img onmouseover="bacground_torrorosso()" onmouseout="defaut()" class="ecuries_torro" src="../img/Ecuries/Toro_rosso_ecuries.jpg"/></a>
            </div>

            <div class="card" id="card_logo">
                <a href="../view/plus/alpha.html"><img onmouseover="bacground_alpharomeo()" onmouseout="defaut()" class="ecuries_alpharomeo" src="../img/Ecuries/alpha_romeo_ecuries.png"/></a>
            </div>
        </div>

        <div class="fourth">
            <div class="card" id="card_logo">
                <a href="../view/plus/williams.html"><img id="special_img" onmouseover="bacground_williams()" onmouseout="defaut()" class="ecuries_williams" src="../img/Ecuries/Williams_ecuries.jpeg"/></a>
            </div>
        </div>

        <footer id="index">
            <div>
				<h5>Par LOGEAIS - ARAUJO - BEN JALEL</h5>
			</div>
			<div id="social">
				<ul class="social">
					<li><a href="https://www.facebook.com/Proxibid?ref=ts">Facebook</a></li>
					<li><a href="https://twitter.com/proxibid">Twitter</a></li>
					<li><a href="https://www.youtube.com/user/Proxibid">YouTube</a></li>
					<li><a href="https://www.linkedin.com/company/proxibid">LinkedIn</a></li>
				</ul>
			</div>
        </footer>
    </body>
</html>