<!DOCTYPE html>
<html>
    <head>
        <title>Formula ONE</title>
        <link rel="stylesheet" type="text/css" href="../css/index.css">
    </head>
    
    <body>
        <!-- navbar -->
        <ul>
            <li><a class="active" href="#home">Accueil</a></li>
            <li><a href="#ecuries">Ecuries</a></li>
            <li><a href="#voitures">Voitures</a></li>
            <li><a href="#pilotes">Pilotes</a></li>
            <li><a href="#propos">A propos</a></li>
        </ul>
    </body>
</html>