<!DOCTYPE html>
<html>
    <head>
        <title>Formula ONE</title>
        <link rel="stylesheet" type="text/css" href="../css/informations.css">
        <link rel="stylesheet" type="text/css" href="../css/navbar.css">
        <script type="text/javascript" src="../js/navigation.js"></script>
    </head>
    <body>
        <div class="topnav" id="myTopnav">
            <a href="../view/index.html">Accueil</a>
            <a href="../view/ecuries.html">Ecuries</a>
            <a href="../view/circuits.html">Circuits</a>
            <a href="../view/voitures.html">Voitures</a>
            <a href="../view/coureurs.html">Coureurs</a>
            <a href="../view/creation.html">Création</a>
            <a href="../view/informations.html">Informations</a>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
        <br>
        <br>
        <div class="presentation">
            <div class="card" id="first">
                <img src="../img/etudiants/araujo.png" alt="" style="width:100%">
                <h2>Alexandre Araujo</h2>
                <p class="title">L2 GrA - EFREI PARIS</p>
                <p>Réalisation des maquettes et codege navbar et footer.</p>
            </div>

            <div class="card" id="second">
                <img src="../img/etudiants/logeais.png" alt="" style="width:100%">
                <h2>Etienne Logeais</h2>
                <p class="title">L2 GrA - EFREI PARIS</p>
                <p>Réalisation de toutes les pages HTML, responsable javascript.</p>
            </div>

            <div class="card" id="third">
                <img src="../img/etudiants/ben jalel.png" alt="" style="width:100%">
                <h2>Armiya Ben Jalel</h2>
                <p class="title">L2 GrA - EFREI PARIS</p>
                <p>Réalisation du css et du materiel design sur toutes les pages.</p>
            </div>
        </div>

        <footer id="footer">
            <div>
                <h5>Par LOGEAIS - ARAUJO - BEN JALEL</h5>
            </div>
            <div id="social">
                <ul class="social">
                    <li><a href="https://www.facebook.com/Formula1/">Facebook</a></li>
                    <li><a href="https://twitter.com/F1">Twitter</a></li>
                    <li><a href="https://www.youtube.com/user/Formula1">YouTube</a></li>
                    <li><a href="https://www.linkedin.com/company/formula-one-management-ltd/">LinkedIn</a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>
