<!DOCTYPE html>
<html>
    <head>
        <title>Formula ONE</title>
        <link rel="stylesheet" type="text/css" href="../css/voitures.css">
        <link rel="stylesheet" type="text/css" href="../css/navbar.css">
        <script type="text/javascript" src="../js/navigation.js"></script>
    </head>
    <body>
        <div class="topnav" id="myTopnav">
            <a href="../view/index.html">Accueil</a>
            <a href="../view/ecuries.html">Ecuries</a>
            <a href="../view/circuits.html">Circuits</a>
            <a href="../view/voitures.html">Voitures</a>
            <a href="../view/coureurs.html">Coureurs</a>
            <!--
            <div class="dropdown">
                <button class="dropbtn">Dropdown
                <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
                </div>
            </div>
            -->
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>

        <br>
        <br>

        <div class="card">
            <img src="../img/description_car/ferrari.jpg" alt="" style="width:100%;">
            <h2>Ferrari SF90</h2>
            <br>
            <p></p>
        </div>

        <div class="card">
            <img src="../img/description_car/haas.jpg" alt="" style="width:100%;">
            <h2>Haas</h2>
            <br>
            <p class="title"></p>
            <p></p>
        </div>

        <div class="card">
            <img src="../img/description_car/sportpesa.jpg" alt="" style="width:100%;">
            <h2>Sport Racing</h2>
            <br>
            <p class="title"></p>
            <p></p>
        </div>

        <div class="card">
            <img src="../img/description_car/mercedes.jpg" alt="" style="width:100%;">
            <h2>Mercedes</h2>
            <br>
            <p class="title"></p>
            <p></p>
        </div>

        <div class="card">
            <img src="../img/description_car/redbull.jpg" alt="" style="width:100%;">
            <h2>Redbull</h2>
            <br>
            <p class="title"></p>
            <p></p>
        </div>

        <div class="card">
            <img src="../img/description_car/torrorosso.jpg" alt="" style="width:100%;">
            <h2>Toro Rosso</h2>
            <br>
            <p class="title"></p>
            <p></p>
        </div>

        <div class="card">
            <img src="../img/description_car/renault.jpg" alt="" style="width:100%;">
            <h2>Renault</h2>
            <br>
            <p class="title"></p>
            <p></p>
        </div>

        <div class="card">
            <img src="../img/description_car/williams.jpg" alt="" style="width:100%;">
            <h2>Williams</h2>
            <br>
            <p class="title"></p>
            <p></p>
        </div>

        <div class="card">
            <img src="../img/description_car/alpha.jpg" alt="" style="width:100%;">
            <h2>Ferrari SF90</h2>
            <br>
            <p class="title"></p>
            <p></p>
        </div>

        <div class="card" id="card">
            <img src="../img/description_car/mclaren.jpg" alt="" style="width:100%;">
            <h2>Ferrari SF90</h2>
            <br>
            <p class="title"></p>
            <p></p>
        </div>
    </body>
</html>
