<!DOCTYPE html>
<html>
    <head>
        <title>Formula ONE</title>
        <link rel="stylesheet" type="text/css" href="../css/voitures.css">
    </head>
    <body>

            <div class="nav">
                <input type="checkbox" id="nav-check">
                <div class="nav-header">
                    <div class="nav-title">
                    <img src="../img/logof1.png" style="height: 120px; width: 90px; margin-top: -45px;"/>
                    </div>
                </div>
                <div class="nav-btn">
                    <label for="nav-check">
                    <span></span>
                    <span></span>
                    <span></span>
                    </label>
                </div>
                
                <div class="nav-links">
                    <a href="../view/index.html">Accueil</a>
                    <a href="../view/ecuries.html">Ecuries</a>
                    <a href="../view/voitures.html" >Voitures</a>
                    <a href="../view/circuits.html">Circuit</a>
                    <a href="">Informations</a>
                </div>
            </div>



        <section class="textoverpic">
        </section>
            
        <section>
            <a>
                Depuis deux courses maintenant, Ferrari admet que le concept de la SF90 n’est peut-être pas le bon cette saison.
                L’équipe italienne est prête à effectuer les changements qui s’imposent, mais comme l’a souligné Nico Rosberg, cela prendrait beaucoup de temps et de ressources à Ferrari pour essayer de remédier aux problèmes qui touchent la SF90, et finalement, sans jamais être certain à 100% d’y arriver.     
            </a>
        </section>
        
        <section class="pop">
        </section>
            
        <section>
            <a>
                Haas F1 Team (engagée en Formule 1 sous la dénomination commerciale Rich Energy Haas F1 Team depuis 2019) est une écurie automobile américaine, fondée par Gene Haas, propriétaire de Stewart Haas Racing, présent en NASCAR. L'écurie fait ses débuts en Formule 1 en 2016. 
            </a>
        </section>
        
        <section class="pop">
        </section>

        <section>
            <a>
                La McLaren F1 est une automobile conçue et produite par McLaren Cars, une filiale britannique McLaren Technology Group qui, entre autres, possède l'écurie de Formule 1 McLaren Racing. La voiture accueille un moteur BMW d'architecture V12 à 60° de 6,1 litres de cylindrée développant une puissance de 627 ch. La McLaren F1 a été conçue pour être « the finest drivers’ car ever built, or ever likely to be built »2 (en français : « la meilleure voiture de série jamais construite, ou susceptible d'être construite ») par une équipe d'une trentaine d'ingénieurs dirigée par Gordon Murray. 
            </a>
        </section>

        <section class="pop">
        </section>

        <section>
            <a>
                Mercedes Grand Prix (engagée en Formule 1 sous la dénomination commerciale Mercedes AMG Petronas Motorsport depuis 2017) est une écurie de Formule 1, appartenant au constructeur automobile allemand Mercedes-Benz qui a débuté en Formule 1 en tant que constructeur en 1954 sous le nom Daimler-Benz AG avant de se retirer du championnat du monde fin 1955, à la suite d'un accident grave aux 24 Heures du Mans. Mercedes a remporté sept titres de champion du monde des pilotes en 1954 et 1955 avec Juan Manuel Fangio, en 2014, 2015, 2017 et 2018 avec Lewis Hamilton et en 2016 avec Nico Rosberg. Le surnom Flèches d'Argent des monoplaces de la marque fut tout d'abord conjointement porté avec les bolides d'Auto-Union dans les années 1930 avant de devenir exclusivement celui de Mercedes en compétition. 
            </a>
        </section>

        <section class="pop">
            </section>

        <section>
            <a>
                Racing Point F1 Team (initialement créée sous le nom Racing Point Force India F1 Team) est une écurie de Formule 1 britannique basée à Silverstone en Angleterre, qui fait ses débuts en compétition le 26 août 2018 au Grand Prix de Belgique, après le rachat de l'ensemble des actifs de l'écurie Force India par le consortium Racing Point UK Ltd. mené par Lawrence Stroll.

                En 2019, l'écurie est engagée sous la dénomination commerciale SportPesa Racing Point F1. Sergio Pérez garde son volant et Lance Stroll, le fils du propriétaire Lawrence Stroll, remplace Esteban Ocon. 
            </a>
        </section>
      
        <section class="pop">
            </section>

        <section>
                <a>
                    Red Bull Racing (de son nom complet Red Bull Racing Limited) est une société britannique qui engage l'écurie Red Bull Racing (engagée en compétition sous la dénomination commerciale Aston Martin Red Bull Racing depuis 2018) qui dispute le championnat du monde de Formule 1 sous licence autrichienne depuis 2007. L'écurie est fondée en 2005 avec le rachat par Red Bull de l'écurie Jaguar Racing. De 2010 à 2013, grâce à Mark Webber et Sebastian Vettel, Red Bull Racing remporte avec un moteur V8 Renault quatre titres de champion du monde des constructeurs tandis que Sebastian Vettel est couronné quatre fois de suite chez les pilotes. 
                </a>
        </section>

        <section class="pop">
            </section>

        <section>
                <a>
                    Renault F1 Team est une écurie de Formule 1, appartenant au constructeur automobile français Renault. Elle participe au championnat du monde de Formule 1 en tant que constructeur de châssis et motoriste de 1977 à 1985, de 2002 à 2011 et à partir de 2016. Sur les périodes intermédiaires, Renault s'en est tenue au rôle de motoriste.
                    Renault, qui débute en tant que constructeur en Formule 1 lors de la saison 1977, y introduit le moteur V6 turbocompressé. Les débuts sont difficiles et les observateurs britanniques ne manquent pas de surnommer la monoplace française « la théière jaune ». En 1979, Renault remporte sa première victoire lors du Grand Prix de France avec Jean-Pierre Jabouille. 
                </a>
        </section>

        <section class="pop">
            </section>

        <section>
                <a>
                    La Scuderia Toro Rosso (engagée en 2018 sous la dénomination commerciale Red Bull Toro Rosso Honda) est une écurie italienne de Formule 1 fondée fin 2005, à la suite du rachat de l'écurie de F1 Minardi par le groupe autrichien Red Bull. Elle fait ses débuts en compétition à l'occasion du GP de Bahreïn lors du championnat du monde de Formule 1 2006. L'écurie est la junior team de Red Bull Racing qui forme des jeunes pilotes issus des formules de promotion Red Bull. 
                </a>
        </section>

        <section class="pop">
            </section>

        <section>
                <a>
                    Williams Grand Prix Engineering (engagée en compétition sous la dénomination commerciale ROKiT Williams Racing depuis 2019) est une écurie britannique de Formule 1, basée à Grove. Fondée en 1977 par Frank Williams et Patrick Head, l'équipe est actuellement la propriété de Frank Williams (52,25 %), Brad Hollinger (14,75 %), Patrick Head (9 %), le marché public (20 %) et le fonds en fiducie des employés (4 %). 
                </a>
        </section>

        <section class="pop">
            </section>

        <section>
                <a>
                    Alfa Romeo participa aux compétitions de Formule 1 en tant que constructeur automobile et fabricant de blocs-cylindres de 1950 à 1988. En 2019, Alfa Romeo remplace Sauber en devenant Alfa Romeo Racing. 
                </a>
        </section>
      
    </body>
</html>